/*
Background color:  #8FE1FF;
Text color: #282AAD;
Border color: #35BEF0;
Font size: 20px;
emphasis color: #35F0A7;
*/
/* perfil.css */
.pane {
    -fx-background-color: #8FE1FF;
    -fx-text-fill: #282AAD;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}


.textLabel {
    -fx-fill: #282AAD;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-background-color: #282AAD;
    -fx-text-fill: white; /* Ensure the text color is visible */
    -fx-font-size: 20px; /* Increase font size */
    -fx-alignment: CENTER; /* Center the text */
}

.combo-box .list-cell {
    -fx-background-color: #282AAD;
    -fx-text-fill: white; /* Ensure the text color is visible */
    -fx-font-size: 20px; /* Increase font size */
    -fx-alignment: CENTER; /* Center the text */
}

.combo-box .combo-box-popup .list-view {
    -fx-background-color: #282AAD;
    -fx-border-color: #35BEF0;
    -fx-text-fill: white; /* Ensure the text color is visible */
    -fx-font-size: 20px; /* Increase font size */
    -fx-alignment: CENTER; /* Center the text */
}

.combo-box .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #0C6BF0; /* Change the background color of the selected item to blue */
    -fx-text-fill: white; /* Ensure the text color is visible */
}

.button {
    -fx-background-color: #282AAD;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}