
/* GENERAL STYLES */
.pane, .split-pane, .textLabel, .titleLabel, .text-field, .combo-box, .button, .table-view {
    -fx-background-color: #8FE1FF;
    -fx-text-fill: #282AAD;
    -fx-fill: #282AAD;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
}
.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}
.titleLabel {
    -fx-font-size: 64px;
}

.combo-box, .button {
    -fx-background-color: #282AAD;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* COMBO BOX STYLES */
.combo-box .arrow, .combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 -7;
    -fx-shape: "";
}

.combo-box .list-cell, .combo-box .list-view {
    -fx-background-color: #282AAD;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.combo-box .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #35F0A7;
}

/* INPUT STYLES */
.text-field {
    -fx-background-color: #b8ecff;
    -fx-border-color: #35F0A7;
    -fx-border-width: 1px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.DatePicker, .spinner{
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #35F0A7;
    -fx-border-width: 1px;
}
.spinner .increment-arrow-button, .spinner .decrement-arrow-button{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 -15;
    -fx-shape: "";
}
.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: transparent;
}

.DatePicker .arrow-button{
    -fx-background-color: #5bfbbd;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.DatePicker .arrow-button .arrow {
    -fx-background-color: #282AAD;
}
/* Editar estilo selector de fecha */

.date-picker .cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
}
.date-picker .selected {
    -fx-background-color: #282AAD;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: #5bfbbd;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #282AAD;
    -fx-border-color: transparent;
}
.date-picker-popup .spinner .button {
    -fx-background-color: #0C6BF0;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}
/* TABLE STYLES */

.table-view {
    -fx-background-color: #35BEF0;
    -fx-font-size: 16px;
}

.table-view .column-header,  .table-view .column-header .label {
    -fx-background-color: #282AAD;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.table-view .filler {
    -fx-background-color: #5bfbbd;
}


.table-view .table-cell {
    -fx-border-width: 0px;
}


.table-view .table-row-cell {
    -fx-background-color: #35BEF0;
    -fx-text-fill: #282AAD;
    -fx-wrap-text: true;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #9fe8ff;
}

.table-view .table-row-cell:even {
    -fx-background-color: #b5eafb;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #35F0A7;
    -fx-text-fill: white;
}

.table-view .table-cell:selected {
    -fx-background-color: #35F0A7;
    -fx-text-fill: white;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
}

/* BARCHART STYLES */
.chart {
    -fx-padding: 5px;
    -fx-background-color: #8FE1FF;
}
.chart-content {
    -fx-padding: 5px;

}
.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 5px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart .axis {
    -fx-tick-label-fill: #282AAD;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.chart .axis .axis-tick-mark {
    -fx-stroke: #282AAD;
}
.chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: #b5eafb;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-alternative-column-fill {
    -fx-fill: #9fe8ff;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart .chart-title {
    -fx-text-fill: #282AAD;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}